@model IEnumerable<Medict.Models.Product>
@*
    @model Medict.Models.Product
    <!--<div style="display:inline-block;">
        <div style="display:inline-block;">-->
    <!-- Block2 -->
    <!--<div class="block2">
                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                    <img src="@Url.Content(Model.Image)" style=" height:300px;width:280px;" ;alt="IMG-PRODUCT">

                    <div class="block2-overlay trans-0-4">
                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                        </a>
                        <div class="block2-btn-addcart w-size1 trans-0-4">
                            <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" asp-controller="Product" asp-action="Index" asp-route-productId="@Model.ProductId">
                                View More
                            </a>
                            <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" asp-controller="Product" asp-action="Index" asp-route-productId="@Model.ProductId">
                                Add to Cart
                            </a>
                        </div>
                    </div>
                </div>
                <div class="block2-txt p-t-20">
                    <a href="#" class="block2-name dis-block s-text3 p-b-5">
                        <strong style="font-size:1.9em;color:cadetblue;font-style:italic;">
                            @Model.Name
                        </strong>
                    </a>

                    <span class="">
                        <strong>@Model.Price.ToString("c")</strong>
                    </span>
                </div>
            </div>

        </div>


    </div>-->
*@

@{
    ViewData["Title"] = "Details";
}

<h1>List of Product</h1>

<table class="table table-hover table-bordered">
    <thead>
        <tr scope="col">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.ShotrtDescription)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td scope="row">

                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td scope="row">
                    @Html.DisplayFor(modelItem => item.ShotrtDescription)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td scope="row">

                    <img src="@Url.Content(item.Image)" style="width:60px;height:60px;">
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td scope="row">
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Add to cart</a> |


                </td>
            </tr>
        }
    </tbody>
</table>

